<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to SpaceX</title>
  <%- include ("_partials/header.ejs") %>
</head>

<body>
  <h1 class="title is-1">Welcome to SpaceX 🚀!</h1>
  <a href="/login">Login</a>
  <a href="/register">register</a>
</body>
</html>