<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <%- include ("_partials/header.ejs") %>
</head>

<body>
  <h1 class="title is-1">Welcome to SpaceX 🚀!</h1>
  <h2 class="subtitle is-3">Register New User</h1>

    <div class="columns">
      <div class="column is-one-third">
        <div class="box">
          <form method="POST" action="/register">
            <label>Name:</label>
              <input class="block input is-rounded" required name="name" />
              <br />
            <label>Email address:</label>
            <input class="block input is-rounded" name="email" />
            <br />
            <label>Password:</label>
            <input class="block input is-rounded" required name="password" type="password" />
            <br />
            <button type="submit" class="button is-primary">Register!</button>
          </form>
        </div>
      </div>
    </div>
</body>

</html>