<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Rocket</title>
</head>
<body>

<div>
  <form method="POST" action="/rockets">  
    New Name:
    <input type="text" name="rocketname"/>
    <button type="submit">Add New Rocket</button>
    </form>
</div>
</body>
</html>